In [1]:
import pandas as pd
#open csv 1
df = pd.read_csv('/Users/annapisarek/Downloads/df_final_web_data_pt_1.csv', sep=",", engine="python")  
print(df.head())

   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04

In [2]:
#open csv 2
df_2 = pd.read_csv('/Users/annapisarek/Downloads/df_final_web_data_pt_2.csv', sep=",", engine="python")  
print(df_2.head())

   client_id             visitor_id                      visit_id  \
0     763412  601952081_10457207388  397475557_40440946728_419634
1    6019349  442094451_91531546617  154620534_35331068705_522317
2    6019349  442094451_91531546617  154620534_35331068705_522317
3    6019349  442094451_91531546617  154620534_35331068705_522317
4    6019349  442094451_91531546617  154620534_35331068705_522317

  process_step            date_time
0      confirm  2017-06-06 08:56:00
1      confirm  2017-06-01 11:59:27
2       step_3  2017-06-01 11:58:48
3       step_2  2017-06-01 11:58:08
4       step_1  2017-06-01 11:57:58

In [9]:
# Concatanate both DFs
df = pd.concat([df, df_2], axis=0, ignore_index=True)

df.head(50)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:26
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:26
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:25
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:25
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:09
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:01
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:46
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:42
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:13
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:45
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:16
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:07
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:05
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:58
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:51
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:44
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:03
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:22
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:14
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:02
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,2017-04-04 17:38:39
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:34:03
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:33:55
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:31:32
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:28:44
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,2017-04-04 17:28:35
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,2017-04-04 17:28:18
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,2017-04-05 14:52:34

In [11]:
df.shape

(1579933, 5)

In [13]:
df.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [15]:
df.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [19]:
df['process_step'].value_counts()

process_step
start      514015
step_1     342715
step_2     275650
step_3     229470
confirm    218083
Name: count, dtype: int64

In [26]:
df_2 = pd.read_csv('/Users/annapisarek/Downloads/df_final_demo.csv', sep=",", engine="python")

In [28]:
df_2.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [30]:
df_2.isnull().sum().sort_values(ascending=False)

clnt_age            15
clnt_tenure_yr      14
clnt_tenure_mnth    14
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
client_id            0
dtype: int64

In [36]:
# Display rows where any column contains null values
rows_with_nulls = df_2[df_2.isnull().any(axis=1)]

print(rows_with_nulls)

       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
4164     7402828             NaN               NaN       NaN   NaN        NaN
8316      355337             NaN               NaN       NaN   NaN        NaN
8677     8412164             NaN               NaN       NaN   NaN        NaN
9583     4666211             8.0             106.0       NaN     F        2.0
13444    2222915             NaN               NaN       NaN   NaN        NaN
18066    4876926             NaN               NaN       NaN   NaN        NaN
25961    5277910             NaN               NaN       NaN   NaN        NaN
28432    7616759             NaN               NaN       NaN   NaN        NaN
35323    8191345             NaN               NaN       NaN   NaN        NaN
43518    1227228             NaN               NaN       NaN   NaN        NaN
46076    8611797             NaN               NaN       NaN   NaN        NaN
47189    5144725             NaN               NaN       NaN   NaN        NaN
49846    1037867             NaN               NaN       NaN   NaN        NaN
63701    1618749             NaN               NaN       NaN   NaN        NaN
66219    6021001             NaN               NaN       NaN   NaN        NaN

            bal  calls_6_mnth  logons_6_mnth
4164        NaN           NaN            NaN
8316        NaN           NaN            NaN
8677        NaN           NaN            NaN
9583   42550.55           4.0            7.0
13444       NaN           NaN            NaN
18066       NaN           NaN            NaN
25961       NaN           NaN            NaN
28432       NaN           NaN            NaN
35323       NaN           NaN            NaN
43518       NaN           NaN            NaN
46076       NaN           NaN            NaN
47189       NaN           NaN            NaN
49846       NaN           NaN            NaN
63701       NaN           NaN            NaN
66219       NaN           NaN            NaN

In [38]:
#drop rows with null values

df_2 = df_2.dropna()

In [40]:
df_2.describe()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,7.059400e+04,70594.000000,70594.000000,70594.000000,70594.000000,7.059400e+04,70594.000000,70594.000000
mean,5.005026e+06,12.053007,150.659999,46.442240,2.255532,1.474467e+05,3.382469,5.566720
std,2.877289e+06,6.871850,82.090264,15.591273,0.535000,3.015106e+05,2.236595,2.353296
min,1.690000e+02,2.000000,33.000000,13.500000,1.000000,1.378942e+04,0.000000,1.000000
25%,2.519543e+06,6.000000,82.000000,32.500000,2.000000,3.734660e+04,1.000000,4.000000
50%,5.016974e+06,11.000000,136.000000,47.000000,2.000000,6.333459e+04,3.000000,5.000000
75%,7.483074e+06,16.000000,192.000000,59.000000,2.000000,1.375461e+05,6.000000,7.000000
max,9.999839e+06,62.000000,749.000000,96.000000,8.000000,1.632004e+07,7.000000,9.000000

In [42]:
df_2.shape

(70594, 9)

In [44]:
df_3 = pd.read_csv('/Users/annapisarek/Downloads/df_final_experiment_clients.csv', sep=",", engine="python")

In [46]:
df_3.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [50]:
df_2 = pd.merge(df_2, df_3, how='left', on='client_id')

In [54]:
df_2.head(50)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0,Control
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0,Control
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0,Test
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0,Control
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0,Test
10,8368822,8.0,100.0,34.5,U,2.0,75578.54,0.0,3.0,Control
11,2537139,8.0,99.0,51.5,U,2.0,135940.68,6.0,9.0,Control
12,2208717,5.0,67.0,33.0,U,2.0,29782.96,6.0,9.0,Test
13,2214073,16.0,193.0,62.5,M,3.0,136818.03,6.0,9.0,Test
14,2368987,5.0,71.0,54.5,U,2.0,44408.87,2.0,5.0,Control
15,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0,Test
16,4536541,3.0,47.0,74.0,U,2.0,47804.50,1.0,4.0,Test
17,3788589,10.0,122.0,32.5,M,2.0,30750.76,0.0,3.0,Control
18,719792,11.0,136.0,31.0,F,2.0,111736.78,5.0,8.0,Test
19,5904035,8.0,101.0,25.5,U,2.0,27848.76,3.0,6.0,Test
20,1502049,8.0,100.0,31.0,U,2.0,28952.15,0.0,3.0,Control
21,6590646,8.0,103.0,42.5,F,3.0,2768726.87,5.0,8.0,Test
22,7585111,5.0,70.0,42.0,U,3.0,36621.41,1.0,4.0,Control
23,3638336,12.0,152.0,30.5,M,3.0,54296.67,3.0,6.0,Test
24,9520009,13.0,160.0,30.0,M,2.0,61062.57,6.0,9.0,Control
25,1508759,6.0,80.0,58.5,U,2.0,66514.85,4.0,7.0,Test
26,9381346,7.0,88.0,62.5,U,2.0,272252.76,0.0,3.0,Control
27,7035604,7.0,86.0,30.5,U,2.0,28175.92,1.0,4.0,Control
28,3055315,5.0,65.0,34.5,F,2.0,66560.69,1.0,5.0,Control
29,3350906,5.0,68.0,55.0,U,2.0,88627.18,2.0,5.0,Control
30,2109862,7.0,93.0,38.0,U,2.0,35917.29,2.0,5.0,Test
31,1549737,7.0,94.0,68.5,U,2.0,35608.94,1.0,4.0,Control
32,7474517,6.0,73.0,52.5,U,2.0,53993.47,4.0,7.0,Control
33,6448014,7.0,85.0,57.5,U,2.0,82787.46,6.0,9.0,Control
34,6651826,8.0,103.0,34.5,U,2.0,44696.97,0.0,3.0,Control
35,2305285,14.0,168.0,54.0,M,2.0,132347.89,6.0,9.0,Control
36,5889920,11.0,142.0,33.0,M,2.0,106249.03,1.0,4.0,Test
37,3065089,19.0,228.0,63.0,M,2.0,439723.43,6.0,9.0,Test
38,313570,18.0,223.0,48.0,F,2.0,75124.07,2.0,5.0,Test
39,9721424,12.0,152.0,32.0,F,2.0,29667.60,0.0,3.0,Test
40,3753796,25.0,305.0,66.5,F,2.0,214661.75,6.0,9.0,Control
41,6647577,23.0,286.0,68.0,F,3.0,86005.57,2.0,5.0,Test
42,6341488,23.0,285.0,65.0,F,2.0,116534.46,5.0,8.0,Test
43,838619,23.0,280.0,60.5,F,2.0,131309.81,0.0,3.0,Test
44,2000151,21.0,254.0,38.0,F,2.0,136515.54,6.0,9.0,Test
45,6579978,21.0,253.0,74.0,M,2.0,71192.58,1.0,4.0,Control
46,8475126,23.0,278.0,51.0,M,3.0,327091.02,3.0,6.0,Control
47,7419744,18.0,221.0,49.0,U,2.0,162233.71,0.0,3.0,Test
48,9796602,18.0,216.0,46.0,F,2.0,25827.39,0.0,3.0,Test
49,1329260,17.0,212.0,63.5,F,2.0,666138.27,5.0,8.0,Control

In [58]:
df_2.isnull().sum().sort_values(ascending=False)

Variation           20107
client_id               0
clnt_tenure_yr          0
clnt_tenure_mnth        0
clnt_age                0
gendr                   0
num_accts               0
bal                     0
calls_6_mnth            0
logons_6_mnth           0
dtype: int64

In [60]:
df_variation_value = df_2.dropna()

In [64]:
df_variation_value.shape

(50487, 10)